
/* all of the style = " have been deleted and replaced with this page */

body {
    background-color:FloralWhite; font-family:monospace
}
h1 {
    color:rosybrown;
}

intro {
    font-size:20px;
}

/* this is one of the class rules i put in */
/* this also makes the text look much neater */

.table {
    font: size 15px; text-align:center; 
}

tr {
    background-color:rosybrown
}

/* colors each of the patterns a different color */

.Turtle {
    color:darkslategray;
    background-color:darkseagreen; color:darkslategray;
}

.Snowman {
    color:slategray;
    background-color:lightsteelblue; color:slategray
}

.Blanket {
    color:brown;
    background-color:darksalmon; color:brown
}

h2 {
    background-color: floralwhite;
}

img {
    padding: 0;
    margin: 0;

}

/* this make the begining of each row in bold */

.row {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

section {
    font-size: 12px;
    font-family:'Courier New', Courier, monospace
}

/* this is one of the id rules i used */

#color {
    color:navy
}
.easy {
    background-color: peachpuff;
}

.hard {
    background-color: slategray;
}

.Intermediate {
    background-color: tan;
}

coasters {
    color:rosybrown;
}

